<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunl19ht.client.mapper.PaymentMapper">

    <insert id="insertDingDan" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO dingdan (
            user_id,
            car_id,
            up_car_time,
            return_car_time,
            car_way,
            address,
            name,
            phone_number,
            id_card,
            service_policy,
            price,
            total_times,
            car_status,
            start_time,
            end_time,
            license_plate,
            car_brand,
            refundable_amount,
            total_fee,
            service_guarantee,
            base_rental_fee,
            premium_insurance_fee,
            user_order_status,
            car_image_url,
            payment_status,
            pickup_fee,
            order_number
        ) VALUES (
                     #{userId},
                     #{carId},
                     #{upCarTime},
                     #{returnCarTime},
                     #{carWay},
                     #{address},
                     #{name},
                     #{phoneNumber},
                     #{idCard},
                     #{servicePolicy},
                     #{price},
                     #{totalTimes},
                     #{carStatus},
                     #{startTime},
                     #{endTime},
                     #{licensePlate},
                     #{carBrand},
                     #{refundableAmount},
                     #{totalFee},
                     #{serviceGuarantee},
                     #{baseRentalFee},
                     #{premiumInsuranceFee},
                     #{userOrderStatus},
                     #{carImageUrl},
                     #{paymentStatus},
                     #{pickupFee},
                  #{orderNumber}
                 );

    </insert>
</mapper>
